node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.env.local
.env.production
.env.staging
.nyc_output
coverage
.next
.vercel
.swc
docs/
lib.esm/
lib.commonjs/
types/
cli.commonjs/
web-ui/node_modules/
web-ui/.next/
web-ui/.vercel/
*.tsbuildinfo